body
{
	height: 100%;
	overflow: hidden;margin: 0;
}

#map {
	width:100%;
  height:100%;
  z-index: 0;
}

.leaflet-control {
	background-color: white;
}

/* Control of the layers */
.layers-control {
  padding: 5px;
  min-width: 320px;
  max-width: 320px;

  max-height: 600px;
  overflow: auto;
}

/* Title of a control */
.title-control {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* Source management control */
.control-sourceSelect-group {
  margin-bottom: 7px;
}

.control-sourceSelect-group-title {
  display : flex;
}

.control-sourceSelect-group-title i{
  padding : 3px;
  border : 1px solid #557E94;
  border-radius: 3px;
  margin-top: 1px; 
  cursor: pointer;
}

.control-sourceSelect-group-title i:hover{
  background-color: #97CCEC;
}


.control-sourceSelect-group-title h3 {
  margin-left: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.control-sourceSelect-content {
  padding-left: 5px;
}

.control-sourceSelect-line {
  
}

/* Checkbox of a Layer */
.checkbox-select-layer {
  cursor: pointer;
  vertical-align: bottom;
}

/* Boutons Viz */
.action-button {
  cursor: pointer;
}

.action-button:hover {
  color : #0A5A5B;
}

/* */
.background-icon {
  background-color: #ffffff;
  padding: 3px;
  border-radius: 5px;
}

/******************/
/* Legend Control */

.legend-control {
  padding: 5px;
  min-width: 400px;
  max-width: 400px;

  max-height: 500px;
  overflow: auto;
}

.legend-title-control {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: auto;
}

.control-legend-title {
  display: flex;
}

.control-legend-hide {
  float: right;
  font-size: 22px;
  vertical-align:middle;
  color: #000000;
  border-radius: 4px;
  margin-left: 2px;
  margin-right: 2px;
  cursor : pointer;
}

.control-legend-hide:hover {
  color : #2F657B;
}

/* Source management control */
.control-legend-layer {
  margin-bottom: 7px;
}

.control-legend-layer-title {
  display : flex;
  cursor: pointer;
  border-radius: 2px;
  background-color: #D9E0E8;
  align-items: baseline;
}

.control-legend-layer-title:hover {
  background-color: #A8C4E0;
}

.control-legend-layer-title i {
  padding : 3px;
  border : 1px solid #557E94;
  border-radius: 3px;
  margin-top: 1px; 
  cursor: pointer;
}

.control-legend-layer-title i:hover{
  background-color: #97CCEC;
}

.control-legend-layer-title h3 {
  margin-left: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.control-legend-layer-content {
  /* border-bottom: 2px solid black; */
  /* background-color: #DFE5EB; */
}

.control-legend-layer-content p {
  margin-top: 3px;
  margin-bottom: 3px;
}

.control-legend-layer-style-line {
  display: flex;
  margin-top: 2px;
}

.control-legend-layer-style-description {
  margin-left: 4px;
  margin-bottom: 0px;
  margin-top: 0px;
  align-self: center;
}

.control-legend-layer-polyline {
  height: 4px;
  width: 20px;
  background-color : #ffffff;
  align-self: center;
}

.control-legend-layer-polygon {
  height: 16px;
  width: 16px;
  margin-top: 2px; 
  border: 1px solid black;
  background-clip: padding-box;
  border-radius: 4px;
  background-color : #000000;
  align-self: center;
}

.control-legend-layer-style-line i {
  font-size: 16px;
}

.control-legend-layer-point {
  height: 16px;
  width: 16px;
}

.hide {
  display: none;
}

/* Background control */
.background-control {
  width: 320px;
  text-align: center;
  z-index : 1000;
  background-color : #E9F2F6;
}

.background-control h4 {
  margin: 3px;
  margin-bottom: 0px;
}

.background-control-content {
  display: flex;
  align-items: baseline;
  width: 100%;
  justify-content: space-between;
}

.background-control-content i {
  font-size: 22px;
  padding: 4px;
  cursor: pointer;
}

.background-control-content i:hover {
  background-color: #ABCEDE;
  border-radius: 3px;
}

.background-control-content h3 {
  margin: 0px;
  padding: 0px;
  align-items: baseline;
}

.background-control-content .fa-chevron-left {
  float: left;
}

.background-control-content .fa-chevron-right {
  float: right;
}

.background-control-name {
  cursor: pointer;
  width: 100%;
}

.background-control-name:hover {
  background-color: #ABCEDE;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 4px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #E9F2F6;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #ABCEDE;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}


/* Description */
.popup-container-description  {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.5);
  z-index: 99;
  position: absolute;
  top: 0;
}

.inner-container-description {
    width: 30em;
    height: 22em;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(15, 15, 15, 0.2);
    padding: 20px;
    border-radius: 4px;
}

.header-description {
    border-bottom: 3px solid #3f95ec;
    margin: 0 25px 0 25px;
    padding: 5px;
    font-family: Oxygen, sans-serif;
    font-size: 22px;
    margin-bottom: 25px;
    text-align: center;
}

.content-description {
    font-family: Ozygen, sans-serif;
    font-size: 15px;
    display: flex;
    /* justify-content: center; */
    flex: 1;
    flex-direction: column;
}

.footer-description {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.btn-description {
  min-width: 5em;
  font-family: Oxygen, sans-serif;
  font-size: 15px;
  margin: 0 10px 0 10px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #287085;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
}

.btn-description:hover {
  background-color: #1F4C5A;
}

.btn-close-description {
  color: #fff;
  background-color: #287085;
}


/* Design for configuration control */
.popup-container-configuration {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(15, 15, 15, 0.5);
  z-index: 99;
  position: absolute;
  top: 0;
}

.footer-configuration {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-end; */
  justify-content: space-between;

  margin-top: 6px;
}


.textArea-configuration {
  height: 40em
}

.inner-container-configuration {
    width: 55em;
    /*height: 22em;*/
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: 0px 0px 20px 5px rgba(15, 15, 15, 0.2);
    padding: 20px;
    border-radius: 4px;
}

.btn-configuration {
  float: right;
  
  cursor: pointer;
}

.configuration-localStorage-state {
  float: left;
  border-radius: 7px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;

  background-color: #B88C3A;
  border: 1px solid #654A15;
}

.btn-configuration {
  min-width: 5em;
  font-family: Oxygen, sans-serif;
  font-size: 15px;
  margin: 0 2px 0 2px;
  border: 0;
  cursor: pointer;
  color: #fff;
  background-color: #287085;
  text-decoration: none;
  padding: 8px;
  border-radius: 6px;
}

.btn-reload-configuration {
  background-color: #287085;
}

.btn-save-configuration {
  background-color: #399F44;
}

.btn-suppr-configuration{
  background-color: #B62C2C;
}

.btn-download-configuration {
  background-color: #379B9A;
}

.btn-close-configuration {
  background-color: #ED5959;
}